* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 2px solid white;
  max-width: 250px;
  padding: 1em;
}

.card > img {
  width: 200px;
}

.card > h2 {
  margin: 0;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header > h1 {
  grid-row: 1 / 3;
}
